<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>KickEnglish</title>
</head>
<body>
<div class="wrapper" style="background:#f3f3f3;padding: 15px 0;">
<div class="page-wrap" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;font-size:13px;color:#242a33;width: 631px;margin:0 auto;font-weight: normal;">
    <div class="header" style="background:#61016a;height: 70px;text-align: center;padding: 10px;">
        <img src="https://kickcrm.net/images/logo-kickenglish-3.png" width="130px" alt="">
    </div>
    <div class="main-content" style="background:#fff;padding:20px;font-size:14px;">
        <ul style="list-style:none;margin:0;padding:0;">
            <li style="font-weight:bold;margin-bottom:15px;">Chào Quý khách,</li>
			<li style="margin-bottom:15px;">Cảm ơn Quý khách đã đặt mua tài khoản <span style="color:red;"> <%= packageName %></span> của ứng dụng <b>KickEnglish</b> – <i>Học tiếng anh với ngôn ngữ NLP</i>.</li>
            <li style="margin-bottom:15px;">Đây là MÃ KEY đặt hàng của Quý khách: </li>
            <li style="margin-bottom:15px;">
                <strong style="font-size: 16px;"><%= license_key %></strong>
             </li>
			<li style="margin-bottom:15px;"><strong>Để Kích hoạt mã sử dụng, Quý khách vui lòng theo hướng dẫn sau:</strong></li>
            
            <li style="margin-bottom:15px;"><strong>Bước 1:</strong> Tải App KickEnglish trên kho ứng dụng Android hoặc iOS</li>
            <li style="margin-bottom:15px;"><strong>Bước 2:</strong> Đăng ký thành viên của KickEnglish APP</li>
            <li style="margin-bottom:15px;"><strong>Bước 3:</strong> Truy cập vào đường link sau để Kích hoạt: <a href="https://kickenglish.net/redeem">https://kickenglish.net/redeem</a></li>
            <li style="margin-bottom:15px;">(Yêu cầu đăng nhập thông tin thành viên trên APP)</li>
            <li style="margin-bottom:15px;"><strong>Bước 4:</strong> Mở APP và đăng nhập lại. Sẵn sàng sử dụng theo thời hạn đặt mua.</li>
            <br />

            <li style="margin-bottom:15px;">Vì sự thành công của bạn,</li>
			<li style="margin-bottom:15px;">KickEnglish Team</li>

            <br/>
            
             <% if (distributor) { %>

                <li style="margin-bottom:15px;"><strong>THÔNG TIN NHÀ PHÂN PHỐI CUNG CẤP</strong></li>
                <li style="margin-bottom:15px;"><strong>Họ và Tên: </strong><%= distributor.name %></li>
                <li style="margin-bottom:15px;"><strong>Email: </strong><%= distributor.email %></li>
                <li style="margin-bottom:15px;"><strong>Mobile: </strong><%= distributor.mobile %></li>

            <% } %>

             <br/>

			<li style="margin-bottom:15px;"><i>Đây là email từ hệ thống, vui lòng không phản hồi/reply lại email này. Xin cảm ơn!</i></li>
	   </ul>
    </div>
</div>
</div>
</body>
</html>