<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Kick English License</title>
</head>
<body>
<div class="wrapper" style="background:#f3f3f3;padding: 15px 0;">
<div class="page-wrap" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;font-size:13px;color:#242a33;width: 631px;margin:0 auto;font-weight: normal;">
    <div class="header" style="background:#ffffff;height: 70px;text-align: center;border-bottom: 2px solid #1f8ceb;padding: 10px;">
        <img src="https://tcom.vn/images/partner/skystudio.jpg" width="170px" alt="" style="margin: 10px 0px 0 10px;">
    </div>
    <div class="main-content" style="background:#fff;padding:20px;font-size:14px;">
        <ul style="list-style:none;margin:0;padding:0;">
            <li style="font-weight:bold;margin-bottom:15px;">Chào <span style="color:#4585f3;"> <%= namepay %></span></li>
			<li style="margin-bottom:15px;">Chúc mừng bạn đã đặt mua thành công <%= productname %>.</li>
			<li style="margin-bottom:15px;">LƯU Ý: Email này được xem như là biên nhận của bạn. Bất cứ thông tin thanh toán nào được yêu cầu, 
			sẽ được gửi đến bạn thông qua email của ONNET. </li>
			<li style="margin-bottom:15px;">Vui lòng xem lại các thông tin sau và giữ email này trong trường hợp bạn cần trợ 
			giúp cho đơn hàng của mình.</li>
			<br/>
			<li style="margin-bottom:15px;">THÔNG TIN MUA HÀNG</li>
			<li style="margin-bottom:15px;">Khách hàng: <%= Customer %></li>
			<li style="margin-bottom:15px;">Nhà phân phối bán: <%= DistributorSell %></li>
			<li style="margin-bottom:15px;">Đơn hàng: <%= OrderCode %></li>
			<li style="margin-bottom:15px;">Key: <%= License_Key %></li>
			<br/>
            <li style="margin-bottom:15px;">Đây là License kích hoạt application KICKENGLISH của bạn </li>
            <li style="margin-bottom:15px;">
               <strong><%= license.lincense %></strong>
			</li>
			<li style="margin-bottom:15px;">Vui lòng <a style="color:#1155cc;text-decoration:none;" href="https://dl.skystudio.tv/skystudio/SkyStudioInstaller.exe"><strong>Click vào đây để tải phần mềm SkyStudio</strong></a></li>
			<li style="margin-bottom:15px;">XEM VIDEO HƯỚNG DẪN KICKENGLISH 2020 TỪ A-Z:</li>
			<li><a href="https://www.youtube.com/playlist?list=PLK6PfqLb7P5asafmKIbYgm_dtbEJB9vkq" style="color:#1155cc;text-decoration:none;">https://www.youtube.com/playlist?list=PLK6PfqLb7P5asafmKIbYgm_dtbEJB9vkq</a></li>
			<br/>
			<li style="margin-bottom:15px;">Vì sự thành công của bạn,</li>
			<li style="margin-bottom:15px;">KICKENGLISH</li>
	   </ul>
    </div>
</div>
</div>
</body>
</html>